#### `Q1`. What is data encoding? How is it useful in data science?

* Data encoding is the process of converting data from one format or representation to another, with the aim of ensuring efficient and accurate communication between computer systems.

* In data science, data encoding is particularly useful for tasks such as data compression, data storage, and data transmission. By encoding data in a more efficient and standardized way, it becomes easier to analyze and process large amounts of data, and to transmit data over networks with lower bandwidth requirements.

* Some common types of data encoding used in data science include binary encoding, which is used to represent numerical data in binary format, and character encoding, which is used to represent text data in a standardized way across different computer systems.

#### `Q2`. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.

* Nominal encoding, also known as one-hot encoding, is a process of converting categorical data into numerical data so that it can be used in machine learning algorithms.
* example given below:

In [1]:
import pandas as pd 
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.DataFrame({
    'f1':['red','blue','green'],
})
df

      f1
0    red
1   blue
2  green

In [3]:
one = OneHotEncoder()
encoder_df = one.fit_transform(df[['f1']])
encoded_df = pd.DataFrame(encoder_df.toarray(),columns=one.get_feature_names_out())
encoded_df

   f1_blue  f1_green  f1_red
0      0.0       0.0     1.0
1      1.0       0.0     0.0
2      0.0       1.0     0.0

In [4]:
pd.concat([df,encoded_df], axis=1)

      f1  f1_blue  f1_green  f1_red
0    red      0.0       0.0     1.0
1   blue      1.0       0.0     0.0
2  green      0.0       1.0     0.0

#### `Q3`. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.

* Nominal encoding, also known as label encoding, is preferred over one-hot encoding in situations where the categorical variable has a large number of categories and creating one-hot encoded variables would result in a high-dimensional and sparse feature space.

* For example, suppose we have a dataset of housing prices in different cities, and one of the variables is the city name. If there are hundreds or thousands of cities in the dataset, one-hot encoding would result in a large number of binary variables, most of which would be zero for any given observation. In this case, label encoding the cities by assigning each city a unique numerical code (e.g., New York=1, Los Angeles=2, etc.) would result in a more compact representation of the data.

#### `Q4`. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding technique would you use to transform this data into a format suitable for machine learning algorithms? Explain why you made this choice.

* For encoding categorical data with 5 unique values, I would use one-hot encoding. One-hot encoding is a technique that creates a binary column for each unique category in the data, with a value of 1 representing the presence of that category and 0 otherwise. This technique is useful because it allows machine learning algorithms to effectively interpret categorical data by converting it into a numerical format that can be used for calculations. Additionally, using one-hot encoding for a small number of unique categories does not lead to issues of high dimensionality or sparsity, which can be a concern for larger datasets.

#### `Q5`. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to transform the categorical data, how many new columns would be created? Show your calculations.

* If we use nominal encoding to transform the two categorical columns in the dataset, we would create new binary features for each unique category value in each column. The number of new binary features created for each column would depend on the number of unique category values in each column.

* Let's assume that the first categorical column has 4 unique category values, and the second categorical column has 6 unique category values. To perform one-hot encoding on these columns, we would create 4 new binary features for the first column (one for each unique category value), and 6 new binary features for the second column (again, one for each unique category value). Each row in the original dataset would then be represented by the original three numerical columns, as well as the 4 binary features for the first categorical column and the 6 binary features for the second categorical column.

* Therefore, the total number of new columns created through one-hot encoding would be:

    > 4 + 6 + 3 = 13

* So we would have 13 columns in the transformed dataset after nominal encoding.

#### `Q6`. You are working with a dataset containing information about different types of animals, including their species, habitat, and diet. Which encoding technique would you use to transform the categorical data into a format suitable for machine learning algorithms? Justify your answer.

* For encoding categorical data in a dataset containing information about different types of animals, I would use a combination of label encoding and one-hot encoding.

* Label encoding would be suitable for ordinal categorical variables, such as the age range of animals or their size categories, where there is a clear ordering of categories. Label encoding assigns a numerical value to each category, where the assigned value represents the order or rank of the category in the hierarchy.

* For nominal categorical variables, such as the species, habitat, and diet of animals, one-hot encoding would be more appropriate. One-hot encoding creates a binary column for each unique category in the data, with a value of 1 representing the presence of that category and 0 otherwise. This technique is useful because it allows machine learning algorithms to effectively interpret categorical data by converting it into a numerical format that can be used for calculations.

* By using a combination of label encoding and one-hot encoding, we can effectively transform all categorical variables in the dataset into a format suitable for machine learning algorithms. This approach enables the algorithms to effectively learn from the data, while preserving the interpretability of the features.

#### `Q7`.You are working on a project that involves predicting customer churn for a telecommunications company. You have a dataset with 5 features, including the customer's gender, age, contract type, monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.

For transforming the categorical data in the customer churn dataset into numerical data, I would use nominal encoding techniques, such as one-hot encoding, since it is one of the most commonly used techniques for encoding categorical data. Here is how I would implement the encoding step-by-step:

> * Identify the categorical variables in the dataset. In this case, the only categorical variable is the customer's gender.

> * Apply one-hot encoding to the categorical variable. This involves creating a new binary feature for each unique category value in the gender variable (i.e., male and female). We can achieve this by using the get_dummies() function in Python's Pandas library. This function creates new binary columns for each unique category value and assigns a value of 1 to the corresponding column for each data point.

> * Drop the original categorical variable (gender) from the dataset. We no longer need this variable since we have already encoded it using one-hot encoding.

> * The remaining four features (age, contract type, monthly charges, and tenure) are numerical and do not require any encoding.