#### `Q1`. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose you have collected data on the amount of time students spend studying for an exam and their final exam scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [1]:
import pandas as pd

df = pd.DataFrame({
    'time_study' : [4,3,5,7],
    'marks_obtain' : [55,45,60,85]
})
df

   time_study  marks_obtain
0           4            55
1           3            45
2           5            60
3           7            85

In [2]:
df.corr(method = 'pearson')

              time_study  marks_obtain
time_study      1.000000      0.989254
marks_obtain    0.989254      1.000000


* **Interpretation:**
  * The Pearson's correlation coefficients in the given results indicate a very > strong positive correlation between the variables of "time_study" and "marks_obtain".and two that two column are close to 1.00 , which means between the two veriable very stong postive reletionship

#### `Q2`. Spearman's rank correlation is a measure of the monotonic relationship between two variables.Suppose you have collected data on the amount of sleep individuals get each night and their overall job satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two variables and interpret the result.

In [3]:
df2 = pd.DataFrame({
    'sleep_time': [4,6,5,7,8,7,8,7,5,6,7],
    'job_statisfaction_level':[10,8,9,7,6,7,9,5,7,6,5]
})
df2

    sleep_time  job_statisfaction_level
0            4                       10
1            6                        8
2            5                        9
3            7                        7
4            8                        6
5            7                        7
6            8                        9
7            7                        5
8            5                        7
9            6                        6
10           7                        5

In [4]:
df2.corr(method='spearman')

                         sleep_time  job_statisfaction_level
sleep_time                 1.000000                -0.433378
job_statisfaction_level   -0.433378                 1.000000

#### `Q3`. Suppose you are conducting a study to examine the relationship between the number of hours of exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation between these two variables and compare the results.

In [5]:
import numpy as np

n_exe = np.linspace(5,2,51)
bmi = np.linspace(25,5,51)

df3 = pd.DataFrame({
    'exercise':n_exe,
    "bmi":bmi
})
df3.head()

   exercise   bmi
0      5.00  25.0
1      4.94  24.6
2      4.88  24.2
3      4.82  23.8
4      4.76  23.4

In [6]:
df3.corr(method='pearson')

          exercise  bmi
exercise       1.0  1.0
bmi            1.0  1.0

In [7]:
df3.corr(method='spearman')

          exercise  bmi
exercise       1.0  1.0
bmi            1.0  1.0


#### `Q4`. A researcher is interested in examining the relationship between the number of hours individuals spend watching television per day and their level of physical activity. The researcher collected data on both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between these two variables.

In [8]:
num_of_hours = np.random.normal(5,5, 50) 
amount_of_activity= np.random.normal(10, 6, 50) 

df4 = pd.DataFrame({
    'num_of_hours': num_of_hours,
    'physical_activity': amount_of_activity
})

df4.head()

   num_of_hours  physical_activity
0      4.425675          11.552680
1     12.344098          11.809972
2      4.088108          12.352975
3      6.065633          15.248311
4      8.187192          20.878007

In [9]:
df4.corr(method='pearson')

                   num_of_hours  physical_activity
num_of_hours           1.000000           0.183943
physical_activity      0.183943           1.000000

#### `Q5`. A survey was conducted to examine the relationship between age and preference for a particular brand of soft drink. The survey results are shown below

![Screenshot 2023-03-29 101202.png]()

In [10]:
df5 = pd.DataFrame({
    "Age(Years)": [25, 42, 37, 19, 31, 28],
    "Soft Drink Preference": ['Coke', 'Pepsi', 'Mountain Dew', 'Coke', 'Pepsi', 'Coke']
})

df5

   Age(Years) Soft Drink Preference
0          25                  Coke
1          42                 Pepsi
2          37          Mountain Dew
3          19                  Coke
4          31                 Pepsi
5          28                  Coke

In [11]:
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()

encoded_col = label.fit_transform(df5['Soft Drink Preference'])
encoded_col = pd.DataFrame(encoded_col, columns=['Soft Drink Preference Enc'])

new_df5 = pd.concat([df5, encoded_col], axis=1)
new_df5.drop('Soft Drink Preference', axis=1,inplace=True)
new_df5

   Age(Years)  Soft Drink Preference Enc
0          25                          0
1          42                          2
2          37                          1
3          19                          0
4          31                          2
5          28                          0

In [12]:
new_df5.corr(method='pearson')

                           Age(Years)  Soft Drink Preference Enc
Age(Years)                   1.000000                   0.769175
Soft Drink Preference Enc    0.769175                   1.000000

#### `Q6`. A company is interested in examining the relationship between the number of sales calls made per day and the number of sales made per week. The company collected data on both variables from a sample of 30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [13]:
n_calls = [20, 30, 10, 40, 60, 80, 60, 50, 40, 100]
n_sales = [2, 3, 2, 5, 5, 6, 8, 5, 7, 20]

df6 = pd.DataFrame({
    'num_of_calls': n_calls,
    'num_of_sales': n_sales
})

df6

   num_of_calls  num_of_sales
0            20             2
1            30             3
2            10             2
3            40             5
4            60             5
5            80             6
6            60             8
7            50             5
8            40             7
9           100            20

In [14]:
df6.corr(method='pearson')

              num_of_calls  num_of_sales
num_of_calls      1.000000      0.824008
num_of_sales      0.824008      1.000000